// Input
.ib_input {
    width: 100%;
    margin-bottom: 15px;

    input, textarea, select {        
        width: 100%;
        background-color: #f5f5f5;
        border: 1px solid #f5f5f5;
        color: #191919;
        border-radius: 4px;
        padding: 12px;
        font-size: 1.6em;
        line-height: 20px; 
        outline: none;
        resize: none;

        &:disabled {            
            opacity: 0.8;
            cursor: not-allowed;
        }
    }

    select {
        cursor: pointer;
    }

    textarea {
        min-height: 80px;
        max-height: 80px;
    }

    &-error {
        input, textarea, select {
            border-color: #ec5757;
        }
    }
}

// Buttons
.ib_btn {    
    font-size: 1.6em;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;

    &-blue {
        background: #485fc7;
    }
    &-dark {
        background: #252945;
    }
    &-red {
        background: #ec5757;
    }
    &-white {
        background: #FFFFFF;
        color: #191919;
    }
}

.ib_error {
    font-size: 1.4em;
    line-height: 18px;
    color: #ec5757;
    margin-top: 5px;
}