// View Invoice
.ib_view-invoice {
    &__title {
        padding: 30px 0;
        h1 {
            font-size: 3.4em;
            line-height: 40px;
            text-align: center;
            color: #FFFFFF;
        }
    }

    &__goback {
        padding-bottom: 10px;
        span {
            cursor: pointer;
            color: #FFFFFF;
            font-size: 1.6em;
            line-height: 20px;
            display: inline-flex;
            i {
                display: block;
                margin-right: 10px;
            }
        }
    }

    &__header, &__body {
        background-color: #1e2139;
        border-radius: 20px;
    }
    &__body {
        padding: 40px 60px;
    }
    &__header {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 40px;

        &-left {
            > span {
                font-size: 1.6em;
                line-height: 20px; 
                color: #FFFFFF;
                margin-right: 15px;
            }
        }
    }   
 
    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    &__block {
        max-width: 33.33%;
        width: 100%; 
        flex-shrink: 0;
        padding-right: 60px;

        &-inner {
            margin-bottom: 20px;
        }
        p {
            font-size: 1.6em;
            line-height: 22px;
            color:#a4b0be;
            margin-bottom: 6px;
        }
        h1 {
            font-size: 2.4em;
            text-transform: uppercase;
            line-height: 28px;
            color: #FFFFFF;
            font-weight: 600;
            letter-spacing: 0.3px;
            margin-bottom: 5px;
        }
        h2 {
            font-size: 2.2em;
            line-height: 26px;
            color: #FFFFFF;
            font-weight: 500;
            letter-spacing: 0.3px;
            margin-bottom: 10px;
        }
        li {
            font-size: 1.4em;
            line-height: 20px;
            color: #FFFFFF;
            margin-bottom: 5px;
        }
    }

    &__products {
        width: 100%;
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            font-size: 1.6em;
            line-height: 20px; 
            color: #FFFFFF;
            padding: 8px 20px;
            text-align: right;

            &:first-child {
                text-align: left;
                padding-left: 0;
                width: 50%;
            }
        }

        th {
            color: #a4b0be;
        }
        tfoot {
            td {
                font-size: 1.8em;
                line-height: 22px;
                padding: 20px; 
                &:nth-child(2) {
                    font-size: 2.2em;
                    line-height: 26px;
                }
            }
        }
    }
}